HorrorGame/.vs/HorrorGame/CopilotIndices/17.12.38.29086/CodeChunks.db
HorrorGame/.vs/HorrorGame/CopilotIndices/17.12.38.29086/SemanticSymbols.db
HorrorGame/.vs/HorrorGame/v17/Browse.VC.db
HorrorGame/.vs/HorrorGame/v17/ipch/66ffb301dd6bed21.ipch
HorrorGame/.vs/HorrorGame/v17/ipch/d6026763532dbdd4.ipch
HorrorGame/.vs/HorrorGame/v17/Solution.VC.db
HorrorGame/Intermediate/Build/Win64/x64/HorrorGameEditor/Development/UnrealEd/SharedPCH.UnrealEd.Project.ValApi.Cpp20.h.pch
